.Menu{
    background: url("7f6d21179ca4285a2476828bea04d8fc77709dad8ccfd670fe7b68e21a5aad69.png");
    width: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}
.Menu-header{
    background-color: rgba(0,0,0,0.5);
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    z-index: 10;
}
.header{
    display: flex;
    list-style: none;
    width: 700px;
    justify-content: space-around;
    font-size: 25px;
    line-height: 60px;
}
.link{
    text-decoration: none;
    color: white;
}
.link:hover{
    color: red;
}
.muahang{
    border-radius: 10px;
    width: 150px;
    height: 50px;
    margin-top: 10px;
}
.muahang:hover{
    background-color: black;
    color: white;
}
.contact{
    position: relative;
    text-align: center;
    top:-400px;
    color: white;
    font-size: 60px;
    font-weight: bold;
}
.diachi{
    position: relative;
    width: 100%;
    height: 500px;
    top:-200px;
}
.giao{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
}
.icon{
    width: 60px;
    height: 60px;
    color: red;
}
.lien{
    display: flex;
    align-content: flex-end;
    flex-direction: row-reverse;
    background-color: #f5f5f5;
}
.lac{
    margin-right: 250px;
}
.lienlac{
    margin-top: 40px;
    text-align: center;
}
.dam{
    font-weight: bold;
}
.ten{
    display: flex;
    list-style: none;
    padding: 0;
}
.one{
    width: 150px;
    border-radius: 5px;
}
.last{
    margin-left: 50px;
}
.fisrt{
    margin-left: 10px;
}
.email{
    width: 350px;
    border-radius: 5px;
    margin-left: 10px;
}
.tin{
    width: 350px;
    border-radius: 5px;
    margin: 10px ;
}
.tinnhan{
    margin-bottom: 30px;

}
.send{
    background-color: white;
    position: relative;
    left: -300px;
    top: -70px;
    box-shadow: 1px 1px 10px 10px whitesmoke;
    border-radius: 5px;
}
footer{
    font-size: 20px;
}
